body		{ background-color:	#d7d7d7; margin: 40px; 
	  	  font-family: Lucida Grande, Verdana, Sans-serif; 
	  	  font-size: 12px; color: #000; }

h1		{ font-size: 22px; margin: 5px 0 5px 0; color:grey; }
h2 		{ font-size: 16px; margin: 10px 0 2px 0; color:grey; }
h3 		{ font-size: 14px; margin: 2px 0 2px 0;	}

#page		{ width: 990px; padding: 10px; margin: 0 auto; 
	  	  background-color: #fff; border: solid 3px #ff9d00; 
	  	  border-radius: 10px; -moz-border-radius: 10px; 
	  	  -webkit-border-radius: 10px; }

#header		{ background-color: #9292b8; margin: 10px 0px 10px 0px; 
	  	  padding: 10px; border-radius: 8px; -moz-border-radius: 8px; 
	  	  -webkit-border-radius: 8px; }
#header h1	{ color: white; }

#main-menu	{ margin: 5px 0 10px 0; padding: 0; float: left; 
		  width: 100%; border: 1px solid #000; clear: both }
#main-menu li 	{ display: inline; padding: 0; margin: 0}
#main-menu li a:hover	{ background-color: #ffd800; }
#main-menu a:link, #main-menu a:visited 	
		{ width: 75px; color:#000; padding: 10px 20px 2px 5px; float: left; 
   	   	  border-right: 1px solid #000; text-decoration: none; 
		  font: bold 1em/1em Arial, Helvetica, sans-serif; 
		  text-transform: uppercase; text-shadow: 1px 1px 1px #555;
	  	  text-align: left; }
#main-menu a:hover 	{ color:#fff; background:#727454; }

.minimenu { margin: 10px 0px 5px 0px }
.minimenu ul	{ margin: 0; padding: 0; list-style: none: }
.minimenu ul li	{ display: inline; margin-right: 2px; } 
.minimenu ul li a { text-decoration: none; color: #777; 
		    background: white; padding: 5px;
		    border: 1px solid #ccc; }
.minimenu li ul { display: none; position: absolute; margin-left: 150px; margin-top:5px }
.minimenu li:hover ul  	{ display: block; background:white }
.minimenu ul li ul li a	{ text-decoration: none; color: #777;
       		 	  background: white;
			  padding:5px; border: 1px solid #ccc; }

/*#main-content	{ clear: both; }*/
#main-content table 	{ margin: 10px 0px; table-layout:fixed; width:100%; } 
#main-content td, td a 	{ overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
#main-content tr:nth-child(even) { background: #e7e7e7; }
/*
thead	{ background: #9292b8; color: white; text-decoration: none; }
*/
#login_form 	{ margin-top: 30px; margin-left: auto; margin-right: auto; margin-bottom: 50px; width: 360px; font-size: 16px; }
#login_form form	{ background-color: #e7e7e7; padding: 10px; border-radius: 8px; 
			  -moz-border-radius: 8px; -webkit-border-radius: 8px; }
#login_form form label 	{ font-weight: bold; color: #11151E; }
#login_form form input[type=text],input[type=password] 
		{ width: 316px; font-weight: bold; padding: 8px; border: 1px solid #FFF;
		  border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
#login_form form input[type=submit] 
		{ display: block; margin: auto; margin-top: 5px; font-size: 14px;
		  background-color: #FFF; border: 1px solid #BBB; 
		  -moz-border-radius: 6px; -webkit-border-radius: 6px; }

.section 	{ float: left; width: 350px; list-style-type: none; 
		  padding-top: 10px; margin-right: 10px; height: auto }
.section li	{ clear: both }
.section li span	{ float: left; width: 90px; padding: 0px 10px 10px 0px; }
.section label	{ float: left; width: 90px; padding: 0px 10px 10px 0px; }
.section li:nth-child(even) { background: #e7e7e7; }

.dd-list	{ width: 178px }

#vessels_table col#name	{ width: 15% }
#vessels_table col#type	{ width: 7% }
#vessels_table col#dwat	{ width: 4% }
#vessels_table col#built 	{ width: 4% }
#vessels_table col#loa 	{ width: 5% }
#vessels_table col#beam	{ width: 5% }
#vessels_table col#draft 	{ width: 5% }
#vessels_table col#grain 	{ width: 6% }
#vessels_table col#bale	{ width: 6% }
#vessels_table col#ho 	{ width: 3% }
#vessels_table col#ha 	{ width: 3% }
#vessels_table col#bt 	{ width: 5% }
#vessels_table col#nt 	{ width: 5% }
#vessels_table col#mobile 	{ width: 10% }

#managers_table col#name	{ width: 20% }
#managers_table col#address { width: 17% }
#managers_table col#postal_code { width: 10% }
#managers_table col#phone	{ width: 15% }
#managers_table col#email	{ width: 20% }

.info 		{ border: 1px solid green; padding: 10px;
       		  background: #DEFFD9; color: green; display: block; clear: both }
.error 		{ border: 1px solid red; padding: 10px; margin-bottom: 2px;
       		  background: #FFDEDB; color: red; display: block; clear:both }

#vessels_managed	{ clear: both; }

#help_text	{ display: none }
#fancy_div table 	{ width: 316px; background: #e7e7e7; border: 1px solid #bbb; }

#quaynote	{ width: 920px; }
#quaynote tr td { height: 20px; width: 10%; border: 1px solid #000; }

